/* Common Styles */
html {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
}

/* Home Page */
#intro-head {
    margin: auto;
    width: 15%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    font-size: 375%;
}

#intro-body {
    margin: auto;
    width: 40%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    font-size: 125%;
}

#Appalachian {
    margin-left: 33.75%;
    margin-right: 33.75%;
    border-radius: 42.5%;
    border: 3px solid green;
}